.homeUser {
// margin-bottom: 1em;
}


.sideBarUser {
  background: #ea4c4c;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom,  #FC5C7D, #6A82FB,); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: 'Roboto', sans-serif;
}

.mainUser {
  background-color: #F1F5F9;
  font-family: 'Roboto', sans-serif;
  padding: 1em;
}
