// .icon-user {
//   height: 2em;
//   width: 2em;
//   color: #DFDEDF;
// }

// .hello-user {
//   padding-top: 0.45em;
//   padding-left: 0.5em;
// }

.profil-img {
  width: 35px;
  height: 35px;
}

.btn-disconnect:hover {
  color: red;
}

.basic-nav-dropdown > a {
  color: black;
}
