 /* The side navigation menu */
 .sidenav {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2d132c; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  -moz-box-shadow: 5px 0px 20px 0px #656565;
  -webkit-box-shadow: 5px 0px 20px 0px #656565;
  -o-box-shadow: 5px 0px 20px 0px #656565;
  box-shadow: 5px 0px 20px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=20);
  z-index: 9999;
}

/* The navigation menu links */
.sidenav > .list-group > .admin-link-item {
  color: grey;
  background-color: transparent;
  border: none;
}

.sidenav > .list-group > .admin-link-item > a {
  color: grey;
}

/* When you mouse over the navigation links, change their color */
.sidenav > .list-group > .admin-link-item:hover > a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#board-container {
  transition: margin-left .5s;
  margin-left: 250px;
  background-color: #f1f5f9;
  height: 100vh;
}

.brand {
  justify-content: center;
  margin-bottom: 40px;

  & > a {
    color: white!important;
  }
}

.icon-link {
  margin-right: 5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
