.logo {
  // margin-left: 30px;
  padding-top: 10px;

  &-icon {
    width: 50px;
    height: 50px;
    margin-right: 0.5em;
    margin-top: 0.4em;
  }

  &-img {
    padding-right: 0;
  }
  
  &-part1 {
    
    font-size: 3em;
    font-weight: 500;
    color: white;
  }
  
  &-part2 {
    font-size: 3em;
    font-weight: 500;
    color: white;
  
  }

}



.spaceNavUser1 {
  height: 6.5em;
}

.spaceNavUser2 {
  height: 6em;
}

.items-navBarUser {
  color: white;
  font-size: 1.1em;
  margin-bottom: 1em;
}

.items-navBarUser:hover {
  color: black;
}

.diviner-line {
  border-top: 1px solid white;
}

.sideBarUser {
  background: #ea4c4c;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom,  #FC5C7D, #6A82FB,); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: 'Roboto', sans-serif;
}

// @keyframes defilement-rtl {
//   0% {
//     transform: translate3d(0,0,0);      /* position initiale à droite */
//   }
//   100% {
//     transform: translate3d(-100%,0,0);  /* position finale à gauche */
//   }
// }


// .linkRentBook{
//   animation: defilement-rtl 2s infinite linear;
// }
