.brand-title {
  font-size: 2.5em;
  text-transform: capitalize;
  color: #801336!important;
  margin: 1em;
}

.title-made-by {
  padding: 2em;
}

.fab.fa-linkedin {
  color: red;
}

.icon-social {
  margin: 0 5px;
}
