.modalResponseIsbn {

  &-img {
    height: 100px;
    width: 50px;
  }

  &-title {
    font-size: 1.5em;
    color: 707070;
    margin-bottom: 0em;
  }

  &-author {
    font-size: 1.2em;
    color: #707070;
    margin-top: 0em;
  }

  &-contain-text {
    padding:0;
  }
  &-text {
    font-size: 1.2em;
    padding: 0em;

  }
  &-buttons {
    display: block;
    display: flex;
    flex-direction: row;
  }

  &-message {
    font-size: 1.2em;
    color: red;
  }
}

.btn-validate {
  background-color: #ee4540;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 8px 8px;
	text-transform: uppercase;
  border-color: #ee4546;
  margin: 10px;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #c72c41;
    border-color: #c72c41;
  }
}
